<ion-view  view-title="{{ 'regis' | translate }}">


    <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{ 'atras' | translate }}
        </ion-nav-back-button>
    </ion-nav-bar>

     <!--contenedor-->
    <ion-content class="bienvenidocontent">

        <div class="row ">
          <div class="col">
                <!--img central-->
                <!--<div class="contenedor_central content_central_img ">
                </div>-->

          <center>
            <div class="contenedor_central content_central_img logoPrincipal">
            </div>
          </center>

          <form name="formularioRegistro">
           <div class="list placeholderIndex">
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'nombre' | translate }}</span>
              <input type="text" placeholder="{{ 'nombre' | translate }}" ng-model="user.nombres" required>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'apellido' | translate }}</span>
              <input type="text" placeholder="{{ 'apellido' | translate }}" ng-model="user.apellidos" required>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'correo' | translate }}</span>
              <input type="email" placeholder="{{ 'correo' | translate }}"
                     ng-model="user.email" required>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ Telefono }}</span>
              <input type="email" placeholder="Telefono"
                     ng-model="user.telefono" required>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'contrasenia' | translate }}</span>
              <input type="password" placeholder="{{ 'contrasenia' | translate }}"
                     ng-model="user.password" required>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'ubicacion' | translate }}</span>
              <input type="text" placeholder="{{ 'ubicacion' | translate }}"
                     ng-model="user.ubicacion" required>
            </label>

            </div>
            <div class="padding">
              <button class="button button-block button-positive"
                ng-disabled="formularioRegistro.$invalid"
                ng-click="usuario_registrado(user)">
                {{ 'regis' | translate }}
              </button>
            </div>
            </form>
            </div>
        </div>
    </ion-content>
</ion-view>
