/* listas Principales*/
/*contenedor listas*/
.contenedor_reducir{
  margin-bottom: 50px;
  background: linear-gradient( #CEE3F6 ,white);
}

.contenedor_degradado{
  background: linear-gradient( #CEE3F6 ,white);
}

.contenedor_total{
  background: linear-gradient(white , #CEE3F6);
}

/* fin listas Principales */
.estilo_conexion_internet{
  background-color: red;
  color: white;
}

/*seccion de promociones*/
.ubica_img_promociones{
  margin-top: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px 6px #888888;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #888888;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #888888;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.promocion_panel{
  background-color: #11c1f3;
}

.barra_bottom{
  background-color: white;
}

.fondo_general{
  background-color: blue;

}
/*titulo del sistema*/
.titleSistema {
  margin-top: 200px;
  color:blue;
  text-shadow: 0 1px 0 #CEE3F6,
                   0 2px 0 #CEE3F6,
                   0 3px 0 #CEE3F6,
                   0 4px 0 #CEE3F6,
                   0 5px 0 #CEE3F6,
                   0 6px 1px #CEE3F6,
                   0 0px 3px #CEE3F6,
                   0 1px 3px #CEE3F6,
                   0 3px 5px #CEE3F6,
               0 5px 10px #CEE3F6,
               0 5px 20px #CEE3F6;
}

.nombreSupermercado{
  padding-top: 20px;
  padding-left: 5%;
}

.contenedor_bienvenido{
  background:linear-gradient(white , #CEE3F6);
}

.contenedor_bienvenido_img{
  height: 10px;
}

/*css para la geolocalizacion*/
#map-canvas{
  height: 300px;
  margin: 2px;
  padding: 2px;
  border-color: red;
  border: 1px;
}

.map_canvas_ubicacion{
  background-color: #ddd;
  height: 200px;
  margin: 1px;
  padding: 1px;
  border-color: red;
  border: 1px;
}

.border_check{
  border-width: 1px;
  border-color: #888888;
}

.producto_ref{
  text-decoration:none;
}

/*css del precio del total de la lista*/
.tituloprecio{
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 22px;
}

/*pantalla principal*/
.content_central_img{
    background-image: url(../img/logoOrders.jpeg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom:  50px;
}
.logoPrincipal{
  height: 98px !important;
    width: 113px !important;
}

.contenedor_central{
    filter:alpha(opacity=50);
   /* opacity:0.9;*/

    height: 250px;
    width: 320px;
    border-radius: 10px;

}

.conten_central{
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*colores iconos*/
.color_iconos{
    color: #0c63ee ;
}

/*css splash*/
.splash {
  display: none;
}

[ng-cloak].splash {
  background-color: #428bca;
  width: 100%;
  text-align: center;
  color: white;
  display: block !important;
}
/*css  perfil user*/
.paddigMenu {
  margin-bottom: 54px;
}

a {
  text-decoration: none;
  color: white;
}

.placeholderIndex input::-webkit-input-placeholder {
  color: #F2F2F2;
}

.bienvenidocontent {
  background-color:#23496E
}

.disableActivate {
  background-color: #fff !important;
}

.pull-rigth {
  position: absolute;
  right: 2px;
  margin-top: -50px;
  margin-right: 50px;
}

.card-content {
  margin-top: -23px;
  margin-bottom: -27px;
}

.pull-rigth-button-map {
  position: absolute;
  right: 61px;
  margin-top: -19px;

}
