<ion-view view-title="{{ 'promo' | translate }}" ng-init="cargar_promociones();
        existeInternetPromocion()" ng-controller="lenguajeCtrl">

    <ion-content class="contenedor_reducir">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-filing"></i>
              Promociones Disponibles
            <span class="badge badge-positive">{{vm.numberPromotions}}</span>
        </a>

        <div ng-if="!vm.isInternet" class="estilo_conexion_internet">
            <center>  Sin conexión a internet  </center>
        </div>

        <!--TODO : review this create a function general to verify the internet conexion-->
        <ion-refresher
            on-refresh="doRefresh()"
            refreshing-icon="ion-load-c">
        </ion-refresher>

        <div class="list">
            <div class="card" ng-repeat="rest in vm.restaurants">
                <div class="item item-divider  promocion_panel" >
                    <h2>Restaurante : {{rest.nombre}}</h2>
                </div>
                <a class="item item-thumbnail-left" ng-repeat="promo in rest.promociones">
                  <img class="ubica_img_promociones" ng-src="{{promo.imagen}}">
                  <div class="card">
                    <div class="item item-divider  promocion_panel" >
                        <h2>Promoció: {{promo.nombre}}</h2>
                    </div>
                    <div class="item item-text-wrap ">
                        <p>Descripción : {{promo.detalle}}</p>
                    </div>
                    <div class="item item-divider">
                        <h2> PVP : $ {{promo.valor}}</h2>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
