<ion-view view-title="{{productSelect.nombre}}">

    <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Atrás
        </ion-nav-back-button>
    </ion-nav-bar>

    <!--contenedor para el detalle de un producto-->
    <ion-content class="padding">
        <div class="list card">
            <center>
                <!--img-->
                <div>
                    <img ng-src="{{vm.productSelect.imagen}}" height="100" width="100">
                </div>
            <!--Nombre Producto -->
            </center>
            <label class="item item-input item-stacked-label">
                <input type="text" class="text-center" ng-disabled="true"
                       value="{{vm.productSelect.nombre}}">
            </label>
            <!--Precio-->
            <label class="item  item-input item-stacked-label">
                <label>Detalle :</label>
                <input type="text" ng-disabled="true" value="{{vm.productSelect.detalle}}">
            </label>
            <!--controlador de cantidad consumir-->
            <a class="item item-icon-left item-icon-right  ">
                Cantidad :
                <p>
                  <button class="button button-small" type="button"
                          ng-click="vm.productSelect.cantidad = vm.productSelect.cantidad - 1"> - </button>
                  <button class="button button-small" type="button"> {{vm.productSelect.cantidad}} </button>
                  <button class="button button-small" type="button"
                          ng-click="vm.productSelect.cantidad = vm.productSelect.cantidad + 1"> + </button>
                </p>
            </a>
        </div>
    </ion-content>
<!--guardar en caso de editar la cantidad del producto a consumir-->
    <div class="tabs tabs-icon-top barra_bottom">
        <a class="tab-item color_iconos" ng-click="vm.addCar(productSelect)" > <i class="icon ion-ios-cart-outline"></i>Agregar</a>
    </div>

</ion-view>
