<ion-view title="Mapapedido" id="page2">
  <ion-content padding="true" class="has-header" >

      <div id="map-canvas">

      </div>

    <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="origin" class="col-sm-2 control-label">Tu Gps Está:</label>
            <div class="col-sm-8">
              <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
            </div>
          </div>

        </form>
               {{vm.latitude}}   {{vm.longitude}}
      <div id="directionsList" ng-show="vm.directions.showList" class="panel panel-primary"></div>

  </ion-content>
</ion-view>

