<ion-view view-title="{{productSelect.nombre}}">

    <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Atrás
        </ion-nav-back-button>
    </ion-nav-bar>

    <!--contenedor para el detalle de un producto-->
    <ion-content class="padding">
        <div class="list card">
            <center>
                <div>
                    <img ng-src="{{vm.orderSelected.imagen_restaurante}}" height="100" width="100">
                </div>
            </center>
        </div>
        <div class="card">
          <div class="item item-divider">
            <center> {{vm.orderSelected.nombre_restaurante}} </center>
          </div>
           <div class="item item-divider">
            <form class="list">
                <label class="item item-input">
                  <i class="icon ion-person placeholder-icon"></i>
                  <span class="input-label">Cliente</span>
                  <span class="input-label">{{vm.orderSelected.nombre_usuario}}</span>
                </label>
                <label class="item item-input">
                  <i class="icon ion-home placeholder-icon"></i>
                  <span class="input-label">Dirección</span>
                  <span class="input-label">{{vm.orderSelected.direccion_usuario}}</span>
                </label>
                <label class="item item-input">
                  <i class="icon ion-iphone placeholder-icon"></i>
                  <span class="input-label">Teléfono</span>
                   <span class="input-label">{{vm.orderSelected.telefono_usuario}}</span>

                </label>
              </form>
          </div>

          <div class="item item-text-wrap">
            <div class="row">
              <div class="col">Producto</div>
              <div class="col">Cant.</div>
              <div class="col">Valor.U</div>
              <div class="col">Valor. T</div>
            </div>
            <div class="row" ng-repeat="pedido in vm.productsOrders">
              <div class="col">{{pedido.nombre}}</div>
              <div class="col">{{pedido.cantidad}}</div>
              <div class="col">{{pedido.valor}}</div>
              <div class="col">{{pedido.valor * pedido.cantidad}}</div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">SUBTOTAL : </div>
              <div class="col">{{vm.subtotal}}</div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">VALOR ENVÍO : </div>
              <div class="col">{{vm.orderSelected.costo_envio}} </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">TOTAL : </div>
              <div class="col">{{vm.total}}</div>
            </div>
          </div>
          <a class="item item-icon-left item-icon-right"  ng-disable="true">
           <i class="icon ion-bag"></i>
           Estado : {{vm.orderSelected.estado}} <div  ></div>

          </a>
            <a class="button button-balanced   button-block" ui-sref="map" ><i class="icon ion-map"></i> Transmitir mapa </a>

            <a class="button  button-positive button-block" ng-click="vm.saveByEstado()" >Entregado</a>
        </div>

    </ion-content>
  </ion-view>
