<ion-view view-title="Restaurantes" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
        <a ui-sref="restaurants" class="button button-icon icon ion-ios-keypad calm"> Restaurants</a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a ui-sref="promotions" class="button button-icon icon ion-filing calm"> Promociones</a>
    </ion-nav-buttons>

    <ion-content class="contenedor_reducir">
        <div ng-if="!vm.isInternet" class="estilo_conexion_internet">
            <center> Sin conexión a internet </center>
        </div>
        <!--para refrescar-->
        <ion-refresher
            on-refresh="recargarRestaurants()"
            refreshing-icon="ion-load-c">
        </ion-refresher>

        <!--lista restaurants-->
        <ion-list>
            <ion-item class="item item-thumbnail-left item-icon-right item-remove-animate"
                ng-repeat="rest in vm.restaurants"
                type="item-text-wrap"
                ui-sref="restaurant"
                ng-click="vm.loadRestaurant(rest)">

               <img src="{{rest.imagen}}">
                    <h2 class="nombreSupermercado" >{{rest.nombre}}</h2>
               <i class="icon ion-chevron-right icon-accessory"></i>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
