<div class="list card">
    <center>
        <div ng-if="vm.restaurant.imagen">
            <img ng-src="{{vm.restaurant.imagen}}" height="100" width="100">
        </div>
        <!--<img ng-if="!vm.restaurant.imagen"  src="img/imagenotfound.png" height="100" width="100">-->
    </center>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-home"></i>
      {{vm.restaurant.nombre}}
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-map"></i>
      Dirección : {{vm.restaurant.direccion}}
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-clock"></i>
      Tiempo de despacho : {{vm.restaurant.tiempodespacho}}
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-card"></i>
      Costo de envío  : {{vm.restaurant.costoEnvio}}
    </a>
</div>
